# First-party related
# As per Dart guidelines, we should ignore pubspec.lock files for packages.
packages/**/pubspec.lock # TODO: Get this to work.

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
.vs/

# Firebase extras
.firebase/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
contrib/coins_config.json
**/.plugin_symlinks/*

# Web related
web/dist/*.js
web/dist/*.wasm
web/dist/*LICENSE.txt
web/src/mm2/
web/src/kdf/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# CI/CD Extras
demo_link
airdex-build.tar.gz
**/test_wallet.json
**/debug_data.json
**/config/firebase_analytics.json

# js
node_modules

assets/config/test_wallet.json
assets/**/debug_data.json
contrib/coins_config.json

# api native library
libmm2.a
libkdf.a
libmm2.dylib
libkdflib.a
libkdflib.dylib
windows/**/kdf.exe
linux/kdf/kdf
macos/kdf
**/.api_last_updated*
.venv/

# Android C++ files
**/.cxx

# Coins asset files 
assets/config/coins.json
assets/config/coins_config.json
assets/config/coins_ci.json
assets/coin_icons/


# MacOS
# Flutter-related
**/Flutter/ephemeral/
**/Pods/
macos/Frameworks/*

# Xcode-related
**/xcuserdata/

# Flutter SDK
.fvm/
**.zip

key.txt
.firebaserc
firebase.json
*_combined.txt
# /packages/komodo_defi_framework/web/kdf

*.a
